numpy
keras
matplotlib
ipywidgets>=7.0
Pillow
IPython
tensorflow
theano
pypandoc
sphinx_rtd_theme
nbsphinx
jupyter_sphinx
sphinxcontrib-napoleon
recommonmark
scikit-learn ### The 'sklearn' PyPI package is deprecated, use 'scikit-learn'  rather than 'sklearn' for pip commands.
tqdm
requests
pydot
cairosvg
