numpy
keras
matplotlib
ipywidgets>=7.0
Pillow
IPython
tensorflow<=1.4.0
theano
pypandoc
sphinx_rtd_theme
nbsphinx
jupyter_sphinx
sphinxcontrib-napoleon
recommonmark
sklearn
tqdm
requests
pydot
cairosvg
