conx
tensorflow
numpy
keras
matplotlib
ipywidgets>=7.0
Pillow
IPython
h5py
sklearn
svgwrite
tqdm
requests
pypandoc
sphinx_rtd_theme
nbsphinx
jupyter_sphinx
sphinxcontrib-napoleon
recommonmark
metakernel
pydot
jyro
comet_ml
